In [1]:
import time
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
from selenium import webdriver
import requests as req

In [2]:
url = "https://mars.nasa.gov/news/" 
response = req.get(url)

soup = bs(response.text, 'html5lib')

title = soup.find("div", class_="content_title").text
paragraph_text = soup.find("div", class_="rollover_description_inner").text

In [3]:
print(paragraph_text)

NASA's senior Mars rover, Opportunity, has just passed the shortest-daylight weeks of the long Martian year with its solar panels in encouragingly clean condition for entering a potential dust-storm season in 2018.

In [4]:
path = {'executable_path' : 'chromedriver.exe'}
browser = Browser('chrome', **path, headless=False)
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [5]:
html = browser.html
soup = bs(html, "html.parser")

In [6]:
browser.click_link_by_partial_text('FULL IMAGE')

In [7]:
browser.click_link_by_partial_text('more info')

In [8]:
mars_html = browser.html
mars_soup = bs(mars_html, 'html.parser')
mars_url = mars_soup.find('img', class_='main_image')
mars_img = mars_url.get('src')

recent_mars = "https://www.jpl.nasa.gov" + mars_img

print(recent_mars)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16694_hires.jpg

In [9]:
tweet = req.get("https://twitter.com/marswxreport?lang=en")
tweet_soup = bs(tweet.text, 'html.parser')

In [10]:
tweeeter = tweet_soup.find_all('div', class_="js-tweet-text-container")

In [11]:
print(tweeeter[0].text)
p = tweeeter[0].text
type(p)

Sol 1922 (Jan 01, 2018), Sunny, high -24C/-11F, low -79C/-110F, pressure at 7.80 hPa, daylight 05:47-17:31

str

In [12]:
for tweets in tweeeter:
    if tweets.text:
        print(tweets.text)
        break

Sol 1922 (Jan 01, 2018), Sunny, high -24C/-11F, low -79C/-110F, pressure at 7.80 hPa, daylight 05:47-17:31

In [13]:
for i in range(10):
    tweets = tweeeter[i].text
    if "Sol " in tweets:
        print(tweets)
        break

Sol 1922 (Jan 01, 2018), Sunny, high -24C/-11F, low -79C/-110F, pressure at 7.80 hPa, daylight 05:47-17:31

In [14]:
mars_info = req.get("https://space-facts.com/mars/")

In [15]:
mars_table = pd.read_html(mars_info.text)

In [16]:
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
mars_df = mars_table[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
mars_df.set_index(0, inplace=True)
mars_data_df = mars_df
mars_data_df

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
mars_data_html = mars_data_df.to_html()
mars_data_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>1</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
mars_data_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>1</th>    </tr>    <tr>      <th>0</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [21]:
mars_data_df.to_html('mars_table.html')

In [22]:
usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
usgs_req = req.get(usgs_url)

In [23]:
soup = bs(usgs_req.text, "html.parser")
hemi_attributes_list = soup.find_all('a', class_="item product-item")

In [24]:

print(len(hemi_attributes_list))
print(hemi_attributes_list[1]['href'])

4
/search/map/Mars/Viking/schiaparelli_enhanced

In [25]:
hemisphere_image_urls = []
for hemi_img in hemi_attributes_list:
    img_title = hemi_img.find('h3').text
    #print(img_title)
    link_to_img = "https://astrogeology.usgs.gov/" + hemi_img['href']
    #print(link_to_img)
    img_request = req.get(link_to_img)
    soup = bs(img_request.text, 'lxml')
    img_tag = soup.find('div', class_='downloads')
    img_url = img_tag.find('a')['href']
    hemisphere_image_urls.append({"Title": img_title, "Image_Url": img_url})

In [26]:
print(hemisphere_image_urls)

[{'Title': 'Cerberus Hemisphere Enhanced', 'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]